In [1]:
'''Importar los módulos necesarios'''
import pandas
from sklearn import tree
import pydotplus
from sklearn.tree import DecisionTreeClassifier
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
import graphviz
%matplotlib 
import networkx as nx
from networkx.drawing.nx_pydot import write_dot

Using matplotlib backend: nbAgg

In [3]:
'''#Lectura del dataset e imprime el dataset'''

df = pandas.read_csv('Dataset_Estado.csv')    
print(df)

     Edad     Genero  Amabilidad  Social  Comunicativo  Bondadoso  Divertido  \
0      23   Femenino           7       8             5          4          7
1      26  Masculino           6       6             8          5          8
2      27   Femenino           4       6             7          7          5
3      27   Femenino           6       7             8          6          8
4      25  Masculino           8       4             5          8          5
..    ...        ...         ...     ...           ...        ...        ...
994    47   Femenino           5       6             6          5          5
995    45   Femenino           6       5             6          8          8
996    39  Masculino           1       4             4          6          6
997    44  Masculino           5       1             4          1          5
998    37   Femenino           7       6             4          6          6

      Animo
0    Alegre
1    Triste
2    Triste
3    Triste
4    Normal
..      ...
994  Triste
995  Triste
996  Normal
997  Normal
998  Normal

[999 rows x 8 columns]

In [4]:
'''Función para convertir valores de cadena en numéricos, se toma la segunda columna del dataset y se transforma los valores de  género en 1 y 0 en el cambio_valores(d1, d5) '''

d1 = {'Masculino': 1, 'Femenino': 0}
df['Genero'] = df['Genero'].map(d1)   

'''Se guarda el contenido en una variable, Se imprime el título para la columna'''
res=df['Genero']             
print("Genero: \n", res)              
    
'''Se toma la sexta columna del dataset y se transforma los valores de las categorías de personalidad en 0, 1 y 2'''
d5 = {'Alegre': 0, 'Triste': 1, 'Normal': 2}
df['Animo'] = df['Animo'].map(d5)

'''Se guarda el contenido en una variable, Se imprime el título para la columna'''
res2=df['Animo']         
print("Animo \n", res2)

Genero:
 0      0
1      1
2      0
3      0
4      1
      ..
994    0
995    0
996    1
997    1
998    0
Name: Genero, Length: 999, dtype: int64
Animo
 0      0
1      1
2      1
3      1
4      2
      ..
994    1
995    1
996    2
997    2
998    2
Name: Animo, Length: 999, dtype: int64